body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #40637a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 720px;
}

.btn:hover {
  background: #c8dbe6;
  background-image: -webkit-linear-gradient(top, #c8dbe6, #3498db);
  background-image: -moz-linear-gradient(top, #c8dbe6, #3498db);
  background-image: -ms-linear-gradient(top, #c8dbe6, #3498db);
  background-image: -o-linear-gradient(top, #c8dbe6, #3498db);
  background-image: linear-gradient(to bottom, #c8dbe6, #3498db);
  text-decoration: none;
}